body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
  }
  
  header {
    background-color: #2C9BF3;
    padding: 20px 0;
    /* position: sticky;
    top: 0px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .connav a {
    color: #222457;
  }
  
  .connav a:hover {
    color: #6543ef;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

  .sectionaz {
    padding: 50px 20px;
    text-align: center;
}
.sectionaz h2 {
    font-size: 2.5em;
    color: black;
}
.sectionaz h2 span {
    color: #ff4d4d;
}
.sectionaz p {
    font-size: 1.2em;
    color: #333;
    max-width: 800px;
    margin: 20px auto;
}
.vision-missionaz {
    background-color: #66b2ff;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vision-missionaz div {
    max-width: 400px;
}
.vision-missionaz h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.vision-missionaz i {
    font-size: 2em;
}
.why-us {
    background-color: #007bff;
    color: white;
    padding: 50px 20px;
    text-align: center;
}
.why-us h2 {
    font-size: 2.5em;
    color: black;
}
.why-us h2 span {
    color: #ff4d4d;
}
.why-us p {
    font-size: 1.2em;
    color: #333;
    max-width: 800px;
    margin: 20px auto;
}
.featuresaz {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #f0f0f0;
}
.featureaz {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}
.featureaz i {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 20px;
}
.featureaz p {
    font-size: 1em;
    color: #333;
}
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .contact-btn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: solid #2C9BF3 1.9px;
  }
  
  .container-hero {
    display: flex;
  }
  
  .hero {
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    height: 500px;
    background: linear-gradient(to bottom, #2c9bf3, #ffffff);
  }
  
  .hero-text {
    max-width: 50%;
    margin-left: 25px;
  }
  .imgicn19 {
    width: 50px;
  }
  
  .hero-text h1 {
    font-size: 48px;
    margin: 0;
    color: white;
  }
  
  .hero-text h1 span {
    color: #ff7f50;
  }
  
  .hero-text p {
    font-size: 18px;
    margin: 20px 0;
    color: white;
  }
  
  .hero-text a {
    background-color: #6c63ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .hero-image img {
    margin-left: 50px;
    margin-top: 30px;
    width: 90%;
    height: auto;
    border-radius: 10px;
  }
  
  .saya {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .hero a {
    background-color: #ff4d4d;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .skills {
    margin-top: 150px;
    background-color: white;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .connav a {
    color: #222457;
  }
  
  .connav a:hover {
    color: #6543ef;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .contact-btn1 {
    background-color: transparent;
    color: #6847ef;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: solid #6847ef 1.9px;
  }
  .nbw {
    font-size: 2em;
    margin-bottom: 20px;
}
.nbw span {
    color: #ff6347;
}
.containersd {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  text-align: center;
  justify-items: center;
  margin-right: 20px;
}

.contact-infoad {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #f0f0f0;
}
.contact-infoad div {
  text-align: center;
}
.contact-infoad h3 {
  margin-bottom: 10px;
}
.contact-infoad p {
  margin: 5px 0;
}
.map-formad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #f0f0f0;
}
.map-formad .form-containerad {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.map-formad .form-containerad h2 {
  margin-bottom: 20px;
}
.map-formad .form-containead input,
.map-formad .form-containerad textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.map-formad .form-containerad button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.map {
  width: 500px;
  height: 400px;
}
.map-formad .mapad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
}
.footerad {
  background-color: #00aaff;
  color: white;
  padding: 50px 0;
  text-align: center;
}
.footerad .cta-buttonsad {
  margin: 20px 0;
}
.footerad .cta-buttonsad a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px;
}
.footerad .cta-buttonsad .consultad {
  background-color: #ff4d4d;
}
.footerad .cta-buttons .demoad {
  background-color: #00aaff;
}
.footerad .linksad {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.footerad .linksad div {
  text-align: left;
}
.footerad .linksad h4 {
  margin-bottom: 10px;
}
.footerad .linksad p,
.footerad .linksad a {
  margin: 5px 0;
  color: white;
  text-decoration: none;
}
.footerad .copyrightad {
  margin-top: 20px;
}
.containersd h2 {
  color: #03a9f4;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  justify-items: center;


}
.feature-itemsd {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  justify-items: center;

}
.feature-itemsd i {
  color: #00c853;
  margin-right: 10px;
  text-align: center;
  justify-items: center;


}
.feature-itemsd p {
  margin: 0;
  font-size: 14px;
  color: #333;
  text-align: center;
  justify-items: center;

}



.nbo {
    font-size: 1.2em;
    margin-bottom: 40px;
}
.buttonax {
    background-color: #ff6347;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.buttonax i {
    margin-left: 10px;
}
  
  .container-hero1 {
    display: flex;
  }
  
  .hero1 {
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    height: 500px;
  }
  
  .hero-text1 {
    max-width: 50%;
    margin-left: 25px;
  }
  
  .hero-text1 h1 {
    font-size: 48px;
    margin: 0;
  }
  

  .containerbr {
    text-align: center;
    padding: 20px;
}
.headerbr {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.headerbr span {
    color: #ff0000;
}
.subheaderbr {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}
.problemsbr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.problembr {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
    text-align: center;
}
.problembr img {
    width: 100%;
    border-radius: 10px;
}
.problembr p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}
.ctabr {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
.ctabr span {
    color: #ff0000;
}
.descriptionbr {
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    max-width: 600px;
    margin: 0 auto 30px;
}
.buttonbr {
    background: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
}
.buttonbr i {
    margin-left: 10px;
}
  
  .hero-text1 p {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .hero-text1 a {
    background-color: #6c63ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .hero1-image img {
    margin-left: 50px;
    margin-top: 30px;
    width: 90%;
    height: auto;
    border-radius: 10px;
  }

  .hero2-image img {
    margin-left: 150px;
    /* margin-top: 30px; */
    width: 75%;
    height: auto;
    border-radius: 10px;
  }
  
  .saya1 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .hero1 a {
    background-color: #5e3bee;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  
  .column {
    display: flex;
  }
  
  .strategy {
    border-bottom: 4px solid #5e3bee;
    border-radius: 10px;
  }
  
  .containersatu {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  .ke {
    font-size: 48px;
    margin: 0;
    color: black;
  }
  .ac {
    color: #ff7f50;
  }
  
  
  .my {
    color: #333;
    font-weight: bold;
  }
  
  .rnw {
    color: #333;
    font-weight: bold;
  }
  

  .features {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: -40px 20px 50px 20px;
    border-radius: 10px;
}
.features h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}
.features p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.features .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features .icon {
    background-color: #e9f5ff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
.features .icon i {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 10px;
}
.features .icon p {
    font-size: 1em;
    color: #007bff;
}
  
  .headersatu {
    text-align: left;
  }
  
  .headersatu {
    font-size: 36px;
    color: #1a202c;
    margin: 10px 0;
  }
  
  .headersatu {
    font-size: 14px;
    color: #4a5568;
  }
  
  .skillssatu {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .skillst-card {
    background-color: #f7fafc;
    border-radius: 10px;
    width: 22%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s;
    margin: 15px;
  }
  
  .skillst-card i {
    font-size: 24px;
    color: #38b2ac;
    margin-bottom: 10px;
  }
  
  .skillst-card h3 {
    font-size: 18px;
    color: #2d3748;
    margin: 10px 0;
  }
  
  .skillst-card p {
    font-size: 14px;
    color: #4a5568;
  }
  
  .gybs {
    border-bottom: 4px solid #805ad5;
  }
  
  .about {
    background-color: white;
    padding-top: 150px;
    padding-bottom: 250px;
  }
  
  .about-image {
    margin-right: 200px;
  }
  
  .container-about {
    display: flex;
  }
  
  .about .about-text {
    max-width: 50%;
  }
  
  .about .about-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about .about-text p {
    font-size: 16px;
    color: #666;
  }
  
  .about .about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 130px;
  }
  
  .containerdua {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .headerdua {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .headerdua h1 {
    font-size: 48px;
    margin: 0;
  }
  
  .bua {
    background-color: #ff4081;
    color: white;
    padding: 0px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    display: flex;
  }
  
  .projectsdua {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 32%;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
  }
  
  .project-card .content {
    padding: 20px;
  }
  
  .project-card h3 {
    margin: 0 0 10px;
    font-size: 24px;
    height: 50px;
  }
  
  .project-card p {
    margin: 0 0 20px;
    color: #666;
    height: 50px;
  }
  
  .project-card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .project-card a i {
    margin-left: 5px;
  }
  
  .imgdry {
    width: 40px;
  }
  
  .imgnewy {
    width: 600px;
    height: 400px;
  }
  
  .button-submit {
    margin-top: 50px;
    margin-left: 280px;
  }
  
  .check-box {
    width: 249px;
  }
  
  .check-box p {
    margin-right: 900px;
  }
  
  .contact {
    padding: 50px;
    background-color: white;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form .btn {
    background-color: #6c63ff;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .button-submit button {
    background-color: #6c63ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkboxx {
    margin-left: 110px;
  }
  
  .button-submit {
    margin-left: 570px;
  }
  
  footer {
    background-color: #F5F8FC;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 70px;
  }
  
  footer p {
    margin: 0;
    color: #666;
  }
  
  footer .social-icons {
    margin-top: 10px;
  }
  
  footer .social-icons a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .navfooter {
    margin-left: 70px;
  }
  
  hr {
    margin-top: 50px;
  }
  
  .topfooter {
    margin-top: 40px;
    display: flex;
    margin-left: 820px;
  }
  
  .privacy {
    margin-right: 10px;
  }
  
  .service {
    margin-right: 10px;
  }
  
  .topfooter p {
    color: black;
  }
  
  .imgnw {
    width: 50px;
  }
  
  .cmee {
    text-align: center;
  }
  
  .imgicn {
    width: 40px;
  }
  .button i {
      margin-right: 10px;
  }
  .imgdr {
      width: 30px;
  }
  .imgfb, .imgig, .imgtw, .imgin {
      width: 20px;
      padding: 5px;
  }